%btn-base {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: background 0.2s ease, color 0.1s ease;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.07);
    white-space: nowrap;
    text-align: center;
    z-index: 1;
    outline: 0;

    &:active {
        top: 1px;
    }

    &:focus,
    &:hover {
        z-index: 2;
    }


    &.small {
        padding: 0.6rem 1.2rem;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    &.large {
        padding: 1.3rem 2.6rem;
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    &.block {
        width: 100%;
    }
}

.btn-default {
    @extend %btn-base;
    color: #4d5256;
    background-color: #f8fafb;
    border-color: #ced3d6;

    &:hover,
    &:focus {
        background-color: #eaeeef;
    }

    &:active {
        background-color: #eaeeef;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: #eaeeef;
        opacity: 0.5;
    }
}

.btn-cta {
    @extend %btn-base;
    color: #fff;
    background-color: lighten(#17406b, 10%);
    border-color: #17406b;
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: #17406b;
    }

    &:active {
        background-color: #17406b;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: #17406b;
        opacity: 0.5;
    }
}

.btn-primary {
    @extend %btn-base;
    color: lighten(#17406b, 10%);
    background-color: lighten(#17406b, 100%);
    border-color: lighten(#17406b, 10%);
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: lighten(#17406b, 70%);
    }

    &:active {
        background-color: lighten(#17406b, 70%);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: lighten(#17406b, 70%);
        opacity: 0.5;
    }
}

.btn-danger {
    @extend %btn-base;
    color: #f24147;
    background-color: #f8fafb;
    border-color: #f24147;
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: #f24147;
        color: #fff;
    }

    &:active {
        background-color: #f24147;
        color: #fff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: #f8fafb;
        color: #f24147;
        opacity: 0.5;
    }
}

.btn-group {
    @extend %clearfix;

    & button, a {
        float: left;
        margin-right: -1px;
    }

    &.block {
        display: table;
        width: 100%;

        > * {
            display: table-cell;
            overflow: hidden;

            input[type='radio'] {
                display: none;
            }

            input[type='radio']:checked + label  {
                background-color: #eaeeef;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
            }

            label {
                border-right-width: 0;
            }

            &:last-of-type {
                label {
                    border-right-width: 1px;
                }
            }
        }
    }
}
